node_modules/
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/

*.log
package-lock.json
npm-debug.log.2460231446

\.project

\.buildpath

\.settings/org\.eclipse\.wst\.common\.project\.facet\.core\.xml

\.settings/org\.eclipse\.php\.core\.prefs

\.settings/org\.eclipse\.core\.resources\.prefs
